<h1>Here's your Progress on your fitness goal!</h1>

<p>You can run <%= @userexercise.progress %> miles making you <%= @userexercise.progress_pct %> of the way to your goal to run <%= @userexercise.goal %> miles!</p>
<p></p>
