
<h1>Add Existing Recipe!</h1>

<%= form_for @user_recipe do |t| %>
<%= t.collection_select :recipe_id, Recipe.all, :id, :name %>
<%= t.date_select :date_consumed %>
<%= t.submit 'Submit' %>
<% end %>
<br><br><br>
