
<h1>Add Existing Recipe!</h1>

<%= form_for @user_recipe do |t| %>
<%= t.collection_select :recipe_id, Recipe.all, :id, :name %>
<%= t.date_select :date_consumed %>
<%= t.submit 'Submit' %>
<% end %>
<br><br><br>


{'person' => {'date_consumed(1i)' => '2008', 'date_consumed(2i)' => '11', 'date_consumed(3i)' => '22'}}

<!-- <select id="person_date_consumed_1i" name="person[date_consumed(1i)]"> ... </select>
<select id="person_date_consumed_2i" name="person[date_consumed(2i)]"> ... </select>
<select id="person_date_consumed_3i" name="person[date_consumed(3i)]"> ... </select> -->
