<br><br><br><br><br><br><br><br><br><br>
<h1 align="center"><%= link_to "Create New Meal", new_recipe_path %></h1>
<br><br><br><br><br><br><br><br>
<h1 align="center"><%= link_to "Add Existing Meal", new_user_recipe_path %></h1>
