<br><br><br><br>
<div class="jumbotron jumbotron-fluid">
<h1 align="center"><%= link_to "Create New Meal", new_recipe_path %></h1>
</div>
<br><br><br><br>
<div class="jumbotron jumbotron-fluid">
<h1 align="center"><%= link_to "Add Existing Meal", new_user_recipe_path %></h1>
</div>
